<!DOCTYPE html>
<html>
<head>
    <title>广告主</title>

    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList03">
        <div class="grid-btn">
            <#if shiro.hasPermission("sys:advertisers:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>

        </#if>

        <#if shiro.hasPermission("sys:advertisers:update")>
        <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>

        </#if>

    <#if shiro.hasPermission("sys:advertisers:delete")>
    <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>

</#if>

<#if shiro.hasPermission("sys:advertisers:QrCode")>
<a class="btn btn-primary" @click="QrCode"><i class="fa fa-plus"></i>&nbsp;生成二维码</a>
</#if>

</div>
<table id="jqGrid"></table>
<div id="jqGridPager"></div>
</div>

<div v-show="!showList" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2 control-label">公司名</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="advertisers.name" placeholder="公司名"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">密码</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="advertisers.password" placeholder="密码"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">EMAIL</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="advertisers.email" placeholder="EMAIL"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">公司手机</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="advertisers.mobile" placeholder="公司手机"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">公司电话</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="advertisers.telephone" placeholder="公司电话"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">状态</div>
            <div class="col-sm-10">
                <select class="form-control" v-model="advertisers.status">
                    <option :value="0" selected>使用中</option>
                    <option :value="1" >已销户</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">详细地址</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="advertisers.addressDetail" placeholder="详细地址"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">联系人姓名</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="advertisers.linkmanName" placeholder="联系人姓名"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">联系人QQ</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="advertisers.linkmanQq" placeholder="联系人QQ"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">联系人电话</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="advertisers.linkmanMobile" placeholder="联系人电话"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">联系人EMAIL</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="advertisers.linkmanEmail" placeholder="联系人EMAIL"/>
            </div>
        </div>
       <!-- <div class="form-group">
            <div class="col-sm-2 control-label">营业执照号</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="advertisers.licenseNumber" placeholder="营业执照号"/>
            </div>
        </div>-->
        <div class="form-group">
            <div class="col-sm-2 control-label">营业执照</div>
            <div class="col-sm-10">
                <div class="proDetailPic" style="width:230px;">
                    <section class=" img-section">
                        <div class="z_photo upimg-div clear proDetail" style="border: 2px dashed #E7E6E6; width: 230px;height: 220px;padding: 18px;">
                            <div id="preview1" style="width: 190px;height: 180px;">
                                <img id="imgProDetail100" border="0" :src="advertisers.licenseNumber != '' && advertisers.licenseNumber != undefined ? advertisers.licenseNumber : '/icode-admin/statics/img/a11.png'" width="190" height="180" onclick="$('#previewImg100').click();">
                            </div>
                            <input type="file" onchange="onePicUpLoad(this,100,190,180)" style="display: none;" id="previewImg100">
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">税务登记证号</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="advertisers.taxNumber" placeholder="税务登记证号"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">组织机构代码</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="advertisers.orgNumber" placeholder="组织机构代码"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">公司地址</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="advertisers.address" placeholder="公司地址"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">公司LOGO图</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="advertisers.logoPic" placeholder="公司LOGO图"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">简介</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="advertisers.brief" placeholder="简介"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">法定代表人</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="advertisers.legalPerson" placeholder="法定代表人"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">法定代表人身份证</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="advertisers.legalPersonCardId" placeholder="法定代表人身份证"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">开户行账号名称</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="advertisers.bankUser" placeholder="开户行账号名称"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">是否渠道客户</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="advertisers.customers" placeholder="是否渠道客户"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">充值金额</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="advertisers.money" placeholder="充值金额"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">订单列表</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="advertisers.orderlist" placeholder="订单列表"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">职位</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="advertisers.jod" placeholder="职位"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">类型</div>
            <div class="col-sm-10">
                <select class="form-control"  v-model="advertisers.type">
                    <option :value="0" >金融</option>
                    <option :value="1" >游戏</option>
                    <option :value="1" >电商</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">需求数量</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="advertisers.number" placeholder="需求数量"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..."
                   @click="saveOrUpdate" value="确定"/>
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>
    </form>
</div>
<div v-show="!showList02" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <table class="table table-bordered table-striped table-hover dataTable">
        <thead>
        <tr>
            <th class="sorting">删除</th>
            <th class="sorting">商家名字</th>
            <th class="sorting">数量</th>
        </thead>
        <tbody>
        {{order}}
        <tr v-for="(orderDesc,index) in order.orderDescEntity">
            <td> <button type="button" class="btn btn-default" title="删除" @click="removeOrderDesc_Entity(index)"><i class="fa fa-trash-o"></i> 删除</button></td>
            <td>
                {{orderDesc.sellerName}}
            </td>
            <td>
                {{orderDesc.num}}
            </td>
        </tr>
        </tbody>
    </table>
    <form class="form-horizontal">
        {{entity}}
        <div class="form-group">
            <div class="col-sm-2 control-label">是否关联商家</div>
            <div class="col-sm-10">
                <input type="checkbox" class="weui-check" v-on:click="CheckItem()" v-model="order.isEnableSeller" name="checkbox" />
            </div>
        </div>
        <div class="form-group" v-if="!order.isEnableSeller">
            <div class="col-sm-2 control-label">商家数量</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="order.num" placeholder="商家数量"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">活动名称</div>
            <div class="col-sm-10">
                <select class="form-control" v-model="entity.activityId" >

                    <option :value="activity.activityId" v-for="activity in activityList">{{activity.activityName}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">二维码数量</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="entity.num" placeholder="二维码数量"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input type="button" class="btn btn-primary" data-loading-text="保存中..."
                   @click="addOrderDesc_Entity();entity={}" value="确定"/>

           <!-- &nbsp;&nbsp;<input type="button" class="btn btn-primary"
                               @click="Bonus();bonus={}" value="设置奖品"/>
-->
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>

        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input type="button" class="btn btn-primary"  data-loading-text="保存中..."
                   @click="addQrCode()" value="生成二维码"/>
        </div>
    </form>
</div>
<div v-show="!showList04" class="panel panel-default">

    <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
        <thead>
        <tr>
            <th class="" style="padding-right:0px">
                <input id="selall" type="checkbox" class="icheckbox_square-blue">
            </th>
            <th class="sorting_asc">店铺名称</th>
            <th class="sorting">区域</th>
            <th class="sorting">EMAIL</th>
            <th class="text-center">公司手机</th>
            <th class="text-center">公司电话</th>
            <th class="text-center">联系人姓名</th>
            <th class="text-center">职位</th>
            <th class="text-center">营业执照号</th>
            <th class="text-center">税务登记证号</th>
            <th class="text-center">组织机构代码</th>
            <th class="text-center">公司地址</th>
            <th class="text-center">法定代表人</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="sellerEntity in sellerList">
            <td><input  type="checkbox" :true-value="sellerEntity.sellerId" v-model="entity.sellerId"></td>
            <td>{{sellerEntity.nickName}}</td>
            <td>{{sellerEntity.region}}</td>
            <td>{{sellerEntity.email}}</td>
            <td>{{sellerEntity.mobile}}</td>
            <td>{{sellerEntity.telephone}}</td>
            <td>{{sellerEntity.linkmanName}}</td>
            <td>{{sellerEntity.linkmanJod}}</td>
            <td>{{sellerEntity.licenseNumber}}</td>
            <td>{{sellerEntity.taxNumber}}</td>
            <td>{{sellerEntity.orgNumber}}</td>
            <td>{{sellerEntity.address}}</td>
            <td>{{sellerEntity.legalPerson}}</td>
        </tr>
        </tbody>
    </table>

    <div class="form-group">
        <input type="button" class="btn btn-primary"
               @click="addSeller()" value="确定"/>
        </tr>
        <input type="button" class="btn btn-warning" @click="reload" value="返回"/>
    </div>
</div>

</div>
<script src="${request.contextPath}/statics/js/modules/sys/advertisers.js?_${.now?long}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>