<!DOCTYPE html>
<html>
<head>
    <title></title>


    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
          <!--  <#if shiro.hasPermission("sys:order:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
        </#if>-->
       <!-- <#if shiro.hasPermission("sys:order:update")>
        <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
    </#if>
    <#if shiro.hasPermission("sys:order:delete")>
    <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
</#if>-->
        <#if shiro.hasPermission("sys:advertisers:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;查看订单</a>
        </#if>

</div>
<table id="jqGrid"></table>
<div id="jqGridPager"></div>
</div>

<div v-show="!showList" class="panel panel-default">

    <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
        <thead>
        <tr>
            <th class="" style="padding-right:0px">
                <input id="selall" type="checkbox" class="icheckbox_square-blue">
            </th>
            <th class="sorting_asc">订单详情编号</th>
            <th class="sorting">商家名字</th>
            <th class="sorting">二维码数量</th>
            <th class="text-center">订单编号</th>
            <th class="text-center">商家编号</th>
            <th class="text-center">活动ID</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="entity in detailList">
            <td><input  type="checkbox" ></td>
            <td>{{entity.id}}</td>
            <td>{{entity.sellerName}}</td>
            <td>{{entity.num}}</td>
            <td>{{entity.orderId}}</td>
            <td>{{entity.sellerId}}</td>
            <td>{{entity.activityId}}</td>
        </tr>
        </tbody>
    </table>
   <!-- <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal">

        <div class="form-group">
            <div class="col-sm-2 control-label">订单创建时间</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="order.createTime" placeholder="订单创建时间"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">商家ID</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="order.sellerId" placeholder="商家ID"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">商家ID</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="order.sellerId" placeholder="商家ID"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">广告主ID</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="order.advertisersId" placeholder="广告主ID"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">广告主ID</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="order.advertisersId" placeholder="广告主ID"/>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-2 control-label"></div>

            <input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>
    </form>-->

    <div class="form-group">
    </tr>
       <input type="button" class="btn btn-warning" @click="reload" value="返回"/>
    </div>
</div>
</div>


<script src="${request.contextPath}/statics/js/modules/sys/order.js?_${.now?long}"></script>

</body>
</html>